<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form (ngSubmit)="submit( f )" #f="ngForm">

    <div class="input-group mb-3 form-group">
      <ion-input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre"
        required></ion-input>
    </div>
    <small>example@dominio.com</small>
    <div class="input-group mb-3 form-group">
      <ion-input ype="email" class="form-control" placeholder="Email"
        pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
        [(ngModel)]="usuario.email" name="email" required></ion-input>
    </div>
<small>entre 8 y 16 caracteres, un numero, una minúscula y una mayúscula.</small>
    <div class="input-group mb-3 form-group">
      <input type="password" class="form-control" placeholder="Password "
        [(ngModel)]="usuario.password" name="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" required minlength="6" required><small
        class="form-text text-muted"></small>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>