<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)] ="usuario.nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">email</ion-label>
      <ion-input type="email" name="email" [(ngModel)] ="usuario.email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">password</ion-label>
      <ion-input type="password" name="password" [(ngModel)] ="usuario.password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>