<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/login" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card for adding a new event -->
  <ion-card>

    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>New Event</ion-card-title>
    </ion-card-header>

    
    <ion-card-content *ngIf="collapseCard">

      <ion-item *ngIf="role2">
        <ion-label>Usuario</ion-label>
        <ion-select name="usuario" [(ngModel)]="idusuario">
          <ion-select-option value='{{usuario._id}}' *ngFor="let usuario of usuarios">{{usuario.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Title" required [(ngModel)]="event.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Description" required [(ngModel)]="event.desc"></ion-input>
      </ion-item>

      <ion-item>
        <div class="container">
          <label for="">Servicio</label>
          <div class="radio" *ngFor="let key of event.servicio">
            <div class="row">
              <label>
                <input type="radio"  name="keys_on_hand" required [value]='key.servicio'
                  [(ngModel)]="event.serviociosele">{{key.servicio}}
              </label>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime required displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"
          hour-values="09,10,11,12,13,14,15,16,17,18,19,20" minuteValues="0,30" [value]="minDate"
          [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox required [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>
      <ion-button fill="outline" expand="block" color="secondary" (click)="addEvent()" [disabled]="event.title == ''">
        Add Event
      </ion-button>

    </ion-card-content>

  </ion-card>

  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="4">
      <ion-button expand="block" color="secondary" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" color="secondary" (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" color="secondary" (click)="changeMode('day')">Day</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="6" class="ion-align-self-start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="6" class="ion-align-self-end">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" [startHour]="9" [endHour]="24" [step]="30" [startingDayWeek]="1">
  </calendar>

</ion-content>